---
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Novi-Tech" />
		<meta
			name="description"
			content="Kompleksowe instalacje teletechniczne, monitoring, alarmy i sieci w Wielkopolsce. Gwarancja jakości i wieloletnie doświadczenie."
		/>
		<meta
			name="keywords"
			content="monitoring, kamery, alarm, domofon, światłowody, centrale telefoniczne, Poznań, Komorniki, Wielkopolska, instalacje sieciowe, novi, tech, Robert Nowicki"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Novi-Tech | Instalacje teletechniczne w Wielkopolsce</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Novi-Tech" />
		<link rel="manifest" href="/site.webmanifest" />
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--logo-theme-color-light: rgb(1, 1, 179);
		--logo-theme-color: var(--logo-theme-color-light);

		--theme-color: rgb(217, 236, 252);
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Open Sans', sans-serif;
	}

	html {
		font-size: 16px;
		line-height: 1.5;
	}

	body {
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	.container {
		max-width: 1200px;
		margin-inline: auto;
		padding-inline: 16px;
	}
</style>
