<div id="reviews-widget-344"></div>
<script src="https://app.reviewconnect.me/embed/D0dGy2yD4PMYteFaOmZdl7Z2kaGDYeAn/widget.js" async></script>

<style>
	div {
		max-width: 1200px;
		margin-inline: auto;
		margin-bottom: 24px;
	}
	:global(.reviews-widget__reviews-container) {
		margin-inline: 40px;
	}

	:global(.reviews-widget__header) {
		margin-inline: auto;
	}
</style>
